<nav class="navbar ">
  <div class="container">
    <div class="row w-100">
      <div class="col-3 col-sm-1 col-md-1 col-lg-1">
        <a class="" routerLink="" (click)="goToHome()">
          <img [src]="icon" alt="icon">
        </a>
      </div>
      <div class="col-9 col-sm-11 col-md-11 col-lg-11">
        <div class="form-inline d-inline w-100">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="textobusqueda" (keyup.enter)="emitEvent()"  [placeholder]="placeholder" aria-label="placeholder">
            <div class="input-group-prepend">
              <button class="input-group-text" (click)="emitEvent()"><img [src]="'../../../../assets/ic_Search.png'" alt=""></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
