@import '~src/app/app.component';

nav {
    background: $amarillomeli;
    a {
      cursor: pointer;
    }
    .input-group-text {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}
