<app-breadcrumb *ngFor="let cat of category; let i = index;" [categories]="cat"></app-breadcrumb>
<div class="mt-5" *ngIf="!category"></div>
<div class="wrap-list"[@detailproduct]>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-8 col-lg-8">
        <div class="text-center">
          <img class="img-fluid" *ngIf="details" [src]="details?.picture" alt="">
          <div class="d-block d-sm-none text-left">
            <h6>{{(details?.condition === 'new' ? 'Nuevo' : 'Usado') + ' - ' + details?.sold_quantity + ' vendidos'}}</h6>
            <h4 [innerHTML]="details?.title"></h4>
            <h3>{{(details?.currency_id === 'ARS' ? '$ ' : 'U$D ') + details?.price}}</h3>
            <button type="button" class="btn btn-primary btn-block">Comprar</button>
          </div>
        </div>
        <h1>Descripcion del Producto</h1>
        <p [innerHTML]="details?.description.plain_text"></p>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block">
        <h6>{{(details?.condition === 'new' ? 'Nuevo' : 'Usado') + ' - ' + details?.sold_quantity + ' vendidos'}}</h6>
        <h4 [innerHTML]="details?.title"></h4>
        <h3>{{(details?.currency_id === 'ARS' ? '$ ' : 'U$D ') + details?.price}}</h3>
        <button type="button" class="btn btn-primary btn-block">Comprar</button>
      </div>
    </div>
  </div>
</div>
<div class="mb-5"></div>
