<a (click)="goToProduct()">
  <div class="per-product">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <img class="rounded img-fluid thumb" [src]="thumbnail" alt="title">
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="contain-detail">
          <div class="infop">
            <h1>{{(currency === 'ARS') ? '$' : 'U$D'}} {{price}} <img *ngIf="shipping" [src]="'../../../assets/ic_shipping.png'"
                alt="shipping"></h1>
            <h2 [innerHTML]="title"></h2>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <div class="location">
          <p [innerHTML]="location"></p>
        </div>
      </div>
    </div>
    <hr>
  </div>
</a>