@import '~src/app/app.component';
    a {
        color: $negromeli;
        &:hover {
            text-decoration: none;
        }
    }
   .per-product {
       margin-bottom: 20px;
       .thumb {
            width: 100%;
        }
       .contain-detail {
        display: flex;
        .infop{
            flex: 1 0 50%;
            h1 {
             margin-top: 20px;
             font-size: 26px;
             font-weight: 400;
            }
            h2 {
             font-size: 24px;
             font-weight: 400;
            }
        }
    }
    p {
           margin-top: 30px;
           font-size: 14px;
           color: $grismeli;
    }
   }
