<app-breadcrumb  *ngFor="let category of categories; let i = index;" [categories]="category"></app-breadcrumb>
<div class="mt-5" *ngIf="!categories"></div>
<div class="wrap-list">
    <div class="container-fluid" [@listofproducts]>
        <app-productlist  *ngFor="let product of listofproducts | slice:0:4" [thumbnail]="product.thumbnail" [price]="product.price"
            [title]="product.title" [id]="product.id" [location]="product.address.state_name" (link)="test(product.id)" [currency]="product.currency_id" [shipping]="product.shipping.free_shipping">
        </app-productlist>
    </div>
</div>
<div class="mb-5" ></div>

