$amarillomeli: #FFE600;
$negromeli : #333333;
$grismeli  : #999999;
$bgmeli : #EEEEEE;
$spec16: 16px;
$spec32: 32px;
$font14: 14px;
$font16: 16px;
$font24: 24px;
$font28: 28px;
$font46: 46px;

.wrap-list {
    background: white;
    padding: 15px 10px;
    border-radius: 0.25rem;
}