<!--The content below is only a placeholder and can be replaced.-->
<app-header  [textobusqueda]="searchText" [placeholder]="'No dejes de buscar'" [icon]="logo" (search)="searh(searchText)"></app-header>
<div class="container">
    <router-outlet></router-outlet>
</div>

