@import '~src/app/app.component';

.breadcrumb {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
        span{
            color: $grismeli;
        }
        li + li{
            &:before {
                font-family: "FontAwesome";
                content: "\f105 ";
            }
        }
}
